{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}
{% block stylesheets %}
    <style>
        body {
            font-family: "Lucida Console", monospace, sans-serif;
            padding: 30px;
        }
    </style>
{% endblock %}
{% block body %}
<h1>hellooo</h1>
{# 
    <h2 align="center" id="visitorCount">{{ visitorCount }}</h2>
    <p align="center">person(s) currently viewing this page</p> #}
{% endblock %}

{% block javascripts %}
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script>

        // Enable pusher logging - don't include this in production
        //Pusher.logToConsole = true;

        var pusher = new Pusher('{{ pusherKey }}', {
        cluster: '{{pusherCluster}}'
        });

        var channel = pusher.subscribe("lol");
        channel.bind('update', function(data) {
        console.log(data.message);
        alert(JSON.stringify(data.message));
        });
    </script>
{% endblock %}